/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* můj styl dopsaný default */
html {
    font-size: 100%;
}

/* konec mého default stylu */

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Layout */
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}

.aside {
    flex-basis: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.main {
flex-basis: 100%;
    background-color: #C8AAA1;
}

hr {
  border-bottom: 1px #C8AAA1 solid;
}
/*
  ========================================
  Aside
  ========================================
*/

.main-photo {
    width: 25%;
    margin: 0 auto 25px;
    display: block;
    border-radius: 50%;
    padding-top: 20px;
}

.aside h2 {
    text-transform: uppercase;
    text-align: left;
    font: bold 22px/22px "Roboto", sans-serif;
    /*border-bottom: 1px #C8AAA1 solid; */
    margin-top: 20px;
    margin-left: 5px; /*... necháme???*/
}

/*
  ========================================
  Aside - Contact
  ========================================
*/
.contact-information a {
    margin-top: 32px;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 90px;
}

.contact-information a:link {
    color: #434143;
    background-color: transparent;
    text-decoration: none;
  }

.contact-information a:visited {
    color: #434143;
    background-color: transparent;
  }

.contact-information a:hover {
    color: #EB9FA3;
    background-color: transparent;
    text-decoration: underline;
  }
  


  .list {
    list-style-type: none;
  }

  .list li {
    height: 80px;
  }

  .github {
   
    background: url("../pictures/github.jpg") no-repeat left top;
    background-position: left center;
    
  }

  .linkedin {
    background: url("../pictures/linkedin.jpg") no-repeat left top;
    background-position: left center;
  }

  .address {
    background: url("../pictures/place.jpg") no-repeat left top;
    background-position: left center;
  }

  .phone {
    background: url("../pictures/phone.jpg") no-repeat left top;
    background-position: left center;
  }

  .email {
    background: url("../pictures/email.jpg") no-repeat left top;
    background-position: left center;
  }




  
  
  /*
  ========================================
  Aside - Competences - Tech Competences
  ========================================
*/

.tech-competences {
    color: white;
    background-color:#C8AAA1;
    padding: 5px;
}

.skills-container {
    position: relative;
    margin-bottom: 3px;
    color: #434143;
    border: 3px solid white;
    border-radius: 20px;

  }
  
  .skills {
    text-align: right; 
    padding-top: 2px;
    padding-bottom: 2px; 
    color: white;
    border-radius: 20px 0px 0px 20px;
    margin: 2px;
  }

  .tech-competences p {
    margin-left: 10px;
    margin-bottom: 0;
  }
  
  .html {width: 70%; background-color: #434143;} 
  .css {width: 65%; background-color:#434143;}
  .wix {width: 90%; background-color: #434143;} 
  .js {width: 3%; background-color: #434143;} 

.skills-container p {
    position: absolute;
    color: #434143;
}

/*
  ========================================
  Aside - Competences - Soft competences
  ========================================
*/

.soft-competences {
    text-transform: lowercase;
  }
  
  .soft-competences ul {
      list-style-type: none;
      font: 15px/15px "Roboto", sans-serif;
  }
      
  .soft-competences li {
      margin: 5px;
      margin-left: 5px;
  }
  
  /*
    ========================================
    Aside - Reference
    ========================================
  */
  
  .reference-box {
      background-color: #C8AAA1;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 70px;
      text-transform: lowercase;
      padding-bottom: 10px;
  }
  
  .references img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 8px;
      border-radius: 50px;
  }
  
  ul.reference-box li.references a {
      color: #434143;
      text-decoration: none;
  }
  
  .references a:link {
      color: #C8AAA1;
      background-color: transparent;
    }
  
  .references a:visited {
      color: #434143;
      background-color: transparent;
    }
  
  .references a:hover {
      color: #434143;
      background-color: transparent;
      text-decoration: underline;
    }
  
  /*
    ========================================
    Aside - Hobbies
    ========================================
  */
  
  .hobbies-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 60px;
  }
  
  .hobbies li {
      list-style-type: none;
      display: block;
  }
  
  .hobbies li img {
      width: 80%;
  }
  
  /*
    ========================================
    Main section
    ========================================
  */
  
  .main-section {

      background-color: #C8AAA1;
      font: 15px/15px "Roboto", sans-serif;
      padding-left: 20px;
      padding-right: 20px;
  }
  
  .main-section h2 {
      text-transform: uppercase;
      text-align: left;
      color: white;
      margin-top: 20px;
      border-bottom: 1px solid white;
      font: bold 22px/22px "Roboto", sans-serif;
  }
  
  /*
    ========================================
    Main section - Header
    ========================================
  */
  
  header {
      height: 230px;
      display: block;
      background-color: #C8AAA1;
  }
  
  .first-name {
      letter-spacing: 2px;
      text-shadow: 2px 2px 2px #434143;
      padding-top: 22px;
      margin-left: 40px;
      text-align: left;
      font: 55px/55px "Luxurious Script", sans-serif;
      color: white;
      margin-bottom: 10px;
      
  }
  
  .surname {
      font: 35px "Roboto", sans-serif;
      letter-spacing: 3px;
      margin-left: 65px;
      color: #434143;
      text-transform: uppercase;
  }
  
  .job-title {
      margin-left: 65px;
    
      color: #434143;
      text-transform: uppercase;
      letter-spacing: 3px;
  }
  
  .about-me {
      margin: 20px;
      margin-left: 40px;
      font: italic 14px/14px "Roboto", sans-serif;
      text-align: left;
      color: white;
     
  }
  
  
  /*
    ========================================
    Main section - Personal portfolio
    ========================================
  */
  
  .portfolio {

      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  
  .photo-portfolio {
      width: 80%;
   
      border: 2px solid #434143;
  }
  
  .p-items {
      margin-top: 5px;
      width: 25%;
      text-align: center;
      text-decoration: none;
  }
  
  .p-items a {
      font: 14px/14px "Roboto", sans-serif;
      text-transform: uppercase;
      padding-top: 3px;
  }
  
  .p-items p {
      padding-top: 3px;
  }
  
  .p-items a:link {
      color:  #434143;
      background-color: transparent;
      text-decoration: none;
    }
  
  .p-items a:visited {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }
  
  .p-items a:hover {
      color: white;
      background-color: transparent;
      text-decoration: underline;
    }
  
    /*
    ========================================
    Main content section - Working experience, education, other skills
    ========================================
  */

  .main-section header {
    display: none;
  }
  
  .main-content-styling .h2 {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 20px;
      width: 100%;
      background-color: #434143;
      height: 30px;
      padding-top: 4px;
      padding-left: 40px;
  }
  
  .side-content-styling {
      color: #434143;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;
      font: bold 16px/16px "Roboto", sans-serif;
      padding-left: 40px;
      margin: 20px 20px 0 20px;
  }
  
  ul.ul-styling:last-child {
      padding-bottom: 20px;
  }
  
  p.date-styling {
      font-style: italic;
      margin-left: 20px;
      margin-right: 20px;
      color:#434143;
      padding-left: 40px;
  }
  
  .description-styling details summary {
    padding-left: 40px;
    margin-top: 10px;
    text-transform: lowercase;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
  }
  
  .description-styling ul.ul-styling,.description-styling p {
      margin: 10px 20px 0 20px;
      line-height: 1.5;
      list-style-type: disc;
      color:#434143;
      padding-left: 40px;
  }
  
    /*
    ========================================
    Main section - IT Certificates
    ========================================
  */
  
  .certificates {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 20px;
  }
  
  .c-items {
      height: 100px;
      width: 148px;
      margin-top: 5px;
      border: 2px solid white;
  }
  
  .flip-card {
      background-color: #C8AAA1;
      height: 100%;
      width: 100%;
      perspective: 1000px; 
    }
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    
    .flip-card-front {
      background-color: #434143;
      padding-top: 20px;
      font: 14px/14px "Roboto", sans-serif;
      text-align: center;
    }
  
    .flip-card-front h3 {
      text-transform: uppercase;
      color: white;
      }
  
      .flip-card-front p {
          padding-top: 5px;
          color: #EB9FA3;
          }
  
    .flip-card-back {
      color: white;
      transform: rotateY(180deg);
    }
  
    .flip-img {
      height: 100px;
      width: 148px;
    }
  
    .c-items:hover {
      transform: scale(2.5);
      z-index: 99999;
    }
  
  /*
    ========================================
    Main section - Footer
    ========================================
  */
  
  footer {
  
      color: #434143;
      font: 14px/14px "Roboto", sans-serif;
      padding-top: 6px;
      text-align: center;
  }

  main.main-section {
    width: 100%;
  }


